  <h1>{{genre.name}}</h1>

<div class="card mb-4">
    <div>
      <h5>Description</h5>
      <p class="card-text">{{genre.description}}</p>
    </div>
  </div>

  <div class="mb-4">
    <a href="/genres/edit?id={{id}}" class="btn btn-primary">Edit Genre</a>
    <a href="/genres" class="btn btn-secondary">Back to Genres</a>
  </div>

